div.homepage-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  z-index: 0;
  height: 70vh;
}

div.homepage-hero .content-wrapper {
  width: 100%;
  color: black;
  z-index: 10;
  padding: 90px;
}

div.homepage-hero .content-wrapper h1 {
  margin-bottom: 60px;
  color: black;
}

div.homepage-hero .content-wrapper h1 span {
  color: #E9E6AF;
  transition: color .3s ease-in-out;
}

div.homepage-hero.active .content-wrapper h1 span {
  color: #ff8ce3
}

div.homepage-hero .content-wrapper p {
  font-size: 26px;
  max-width: 800px;
  line-height: 1.5;
  color: #171717;
}

div.homepage-hero .content-wrapper p span {
  color: #E9E6AF;
}