@import "../../scss/mixins";

.large-image-display {
  display: block;
}

.large-image-display .wrapper {
  @include padded-wrapper-style;
}

.large-image-display .wrapper .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.large-image-display .wrapper .content img {
  width: inherit;
}