@import "../../scss/mixins";

.section-title {
  display: block;
}

.section-title .wrapper {
  @include padded-wrapper-style;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-title .wrapper h3 {
  color: black;
  font-size: 60px;
  font-weight: 600;
}