@import "variables";

@mixin navigation-padding {
  padding: $navigationHorizontalPadding;
}

@mixin padded-wrapper-style {

  margin: 0 auto;

  @media (min-width: 780px) {
    padding: 0 $wrapperHorizontalPadding;
    max-width: $wrapperMaxWidth;
  }
}

@mixin title-font {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.057rem;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
