@import "variables";

@mixin navigation-padding {
  padding: $navigationHorizontalPadding;
}

@mixin padded-wrapper-style {
  padding: 0 $wrapperHorizontalPadding;
  max-width: $wrapperMaxWidth;
  margin: 0 auto;
}

@mixin title-font {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.057rem;
}
