html, :root {
  font-family: 'Source Sans 3', sans-serif;
}

h1 {
  font-size: 54px;
  line-height: 1.32;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 32px;
  line-height: 1.4;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

p {
  font-family: 'Source Sans 3', sans-serif;
}

em {
  font-style: italic;
}