@import "../../scss/mixins";

.case-description {

}

.case-description .wrapper {
  @include padded-wrapper-style;
}

.case-description .wrapper .content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  grid-column-gap: 2.344vw;
  margin-bottom:60px;

  @include min-tablet {
    flex-flow: row;
  }
}

.case-description .wrapper .content .card {
  display: block;
  //width: 50%;
  color: black;
}

.case-description .wrapper .content .card h4 {
  @include title-font;
  margin-bottom: 20px;

  @include min-tablet {
    flex-flow: row;
    margin-bottom: inherit;
  }
}

.case-description .wrapper .content .card p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.case-description .wrapper .content .left {
  font-size: 16px;
}

.case-description .wrapper .content .right {
}